In [1]:
import pandas as pd

In [11]:
df1 = pd.read_csv('WHR2015.csv')
df2 = pd.read_csv('WHR2016.csv')
df3 = pd.read_csv('WHR2017.csv')
df4 = pd.read_csv('GlobalLandTemperaturesByCountry.csv')

In [8]:
df1.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646

In [9]:
df2.head(10)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
5,Canada,North America,6,7.404,7.335,7.473,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
6,Netherlands,Western Europe,7,7.339,7.284,7.394,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749
7,New Zealand,Australia and New Zealand,8,7.334,7.264,7.404,1.36066,1.17278,0.83096,0.58147,0.41904,0.49401,2.47553
8,Australia,Australia and New Zealand,9,7.313,7.241,7.385,1.44443,1.10476,0.85120,0.56837,0.32331,0.47407,2.54650
9,Sweden,Western Europe,10,7.291,7.227,7.355,1.45181,1.08764,0.83121,0.58218,0.40867,0.38254,2.54734

In [10]:
df1.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646

In [17]:
df4.head(10000)

              dt  AverageTemperature  AverageTemperatureUncertainty  Country
0     1743-11-01               4.384                          2.294    Åland
1     1743-12-01                 NaN                            NaN    Åland
2     1744-01-01                 NaN                            NaN    Åland
3     1744-02-01                 NaN                            NaN    Åland
4     1744-03-01                 NaN                            NaN    Åland
5     1744-04-01               1.530                          4.680    Åland
6     1744-05-01               6.702                          1.789    Åland
7     1744-06-01              11.609                          1.577    Åland
8     1744-07-01              15.342                          1.410    Åland
9     1744-08-01                 NaN                            NaN    Åland
10    1744-09-01              11.702                          1.517    Åland
11    1744-10-01               5.477                          1.862    Åland
12    1744-11-01               3.407                          1.425    Åland
13    1744-12-01              -2.181                          1.641    Åland
14    1745-01-01              -3.850                          1.841    Åland
15    1745-02-01              -6.575                          1.360    Åland
16    1745-03-01              -4.195                          1.213    Åland
17    1745-04-01              -0.966                          1.172    Åland
18    1745-05-01                 NaN                            NaN    Åland
19    1745-06-01                 NaN                            NaN    Åland
20    1745-07-01                 NaN                            NaN    Åland
21    1745-08-01                 NaN                            NaN    Åland
22    1745-09-01                 NaN                            NaN    Åland
23    1745-10-01                 NaN                            NaN    Åland
24    1745-11-01                 NaN                            NaN    Åland
25    1745-12-01                 NaN                            NaN    Åland
26    1746-01-01                 NaN                            NaN    Åland
27    1746-02-01                 NaN                            NaN    Åland
28    1746-03-01                 NaN                            NaN    Åland
29    1746-04-01                 NaN                            NaN    Åland
...          ...                 ...                            ...      ...
9970  1965-07-01              22.861                          0.268  Albania
9971  1965-08-01              20.640                          0.169  Albania
9972  1965-09-01              18.878                          0.314  Albania
9973  1965-10-01              13.040                          0.522  Albania
9974  1965-11-01               9.712                          0.405  Albania
9975  1965-12-01               6.070                          0.453  Albania
9976  1966-01-01               2.033                          0.375  Albania
9977  1966-02-01               7.814                          0.255  Albania
9978  1966-03-01               7.119                          0.306  Albania
9979  1966-04-01              12.501                          0.239  Albania
9980  1966-05-01              15.368                          0.276  Albania
9981  1966-06-01              19.707                          0.385  Albania
9982  1966-07-01              22.043                          0.417  Albania
9983  1966-08-01              22.862                          0.355  Albania
9984  1966-09-01              18.721                          0.311  Albania
9985  1966-10-01              16.591                          0.335  Albania
9986  1966-11-01               9.068                          0.202  Albania
9987  1966-12-01               4.628                          0.195  Albania
9988  1967-01-01               1.416                          0.551  Albania
9989  1967-02-01               3.633                          0.372  Albania
9990  1967-03-01               8.018                          0.219  Albania
9991  1967-04-01              10.565                          0.254  Albania
9992  1967-05-01              16.126                          0.297  Albania
9993  1967-06-01              18.306                          0.226  Albania
9994  1967-07-01              21.972                          0.632  Albania
9995  1967-08-01              22.946                          0.431  Albania
9996  1967-09-01              18.805                          0.472  Albania
9997  1967-10-01              15.035                          0.189  Albania
9998  1967-11-01               9.783                          0.200  Albania
9999  1967-12-01               4.856                          0.338  Albania

[10000 rows x 4 columns]

In [15]:
df4.tail(1000)

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
576462,1930-06-01,14.730,0.445,Zimbabwe
576463,1930-07-01,15.001,0.365,Zimbabwe
576464,1930-08-01,17.420,0.267,Zimbabwe
576465,1930-09-01,20.933,0.546,Zimbabwe
576466,1930-10-01,23.750,0.229,Zimbabwe
576467,1930-11-01,25.434,0.708,Zimbabwe
576468,1930-12-01,23.956,0.230,Zimbabwe
576469,1931-01-01,23.573,0.532,Zimbabwe
576470,1931-02-01,24.439,0.585,Zimbabwe
576471,1931-03-01,23.617,0.736,Zimbabwe
576472,1931-04-01,21.432,1.056,Zimbabwe
576473,1931-05-01,19.918,0.375,Zimbabwe
576474,1931-06-01,15.065,0.286,Zimbabwe
576475,1931-07-01,16.494,0.342,Zimbabwe
576476,1931-08-01,19.014,0.326,Zimbabwe
576477,1931-09-01,22.181,0.395,Zimbabwe
576478,1931-10-01,24.495,0.643,Zimbabwe
576479,1931-11-01,22.815,0.267,Zimbabwe
576480,1931-12-01,23.802,0.218,Zimbabwe
576481,1932-01-01,23.997,0.311,Zimbabwe
576482,1932-02-01,23.799,0.527,Zimbabwe
576483,1932-03-01,22.346,0.312,Zimbabwe
576484,1932-04-01,20.943,0.544,Zimbabwe
576485,1932-05-01,17.803,0.505,Zimbabwe
576486,1932-06-01,15.186,0.207,Zimbabwe
576487,1932-07-01,14.589,0.219,Zimbabwe
576488,1932-08-01,16.855,0.360,Zimbabwe
576489,1932-09-01,22.887,0.215,Zimbabwe
576490,1932-10-01,24.219,0.326,Zimbabwe
576491,1932-11-01,25.054,0.272,Zimbabwe
...,...,...,...,...
577432,2011-04-01,21.759,0.319,Zimbabwe
577433,2011-05-01,19.627,0.398,Zimbabwe
577434,2011-06-01,16.939,0.599,Zimbabwe
577435,2011-07-01,15.803,0.447,Zimbabwe
577436,2011-08-01,17.883,0.328,Zimbabwe
577437,2011-09-01,22.902,0.612,Zimbabwe
577438,2011-10-01,24.966,0.441,Zimbabwe
577439,2011-11-01,25.521,0.318,Zimbabwe
577440,2011-12-01,24.013,0.356,Zimbabwe
577441,2012-01-01,23.872,0.247,Zimbabwe
577442,2012-02-01,24.294,0.305,Zimbabwe
577443,2012-03-01,23.596,0.354,Zimbabwe
577444,2012-04-01,20.349,0.462,Zimbabwe
577445,2012-05-01,19.712,0.312,Zimbabwe
577446,2012-06-01,16.631,0.277,Zimbabwe
577447,2012-07-01,16.048,0.783,Zimbabwe
577448,2012-08-01,18.946,1.127,Zimbabwe
577449,2012-09-01,22.609,0.643,Zimbabwe
577450,2012-10-01,23.482,0.574,Zimbabwe
577451,2012-11-01,24.606,0.532,Zimbabwe
577452,2012-12-01,24.111,0.846,Zimbabwe
577453,2013-01-01,23.812,1.218,Zimbabwe
577454,2013-02-01,24.075,1.286,Zimbabwe
577455,2013-03-01,23.226,0.564,Zimbabwe
577456,2013-04-01,21.142,0.495,Zimbabwe
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe